<%= form_with(model: tweet) do |form| %>
  <% if tweet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
        <% tweet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="tweets" class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-body">
          <div class="margin-top">
            <%= form.label :userName, style: "display: block" %>
            <%= form.text_field :userName, class: "form-control", readonly: !@tweet.new_record? %>
          </div>
          <div class="margin-top">
            <%= form.label :Publicacion, style: "display: block" %>
            <%= form.text_field :description, class: "form-control"%>
          </div>
          <div class="d-flex justify-content-end">
            <%= form.submit "Publicar", class: "btn btn-outline-success buttons-index-show" %>
          </div>
      </div>
    </div>
  </div>
</div>

<% end %>
