<p style="color: green"><%= notice %></p>

<h1>Tweets</h1>

<%= link_to "Crear Tweet", new_tweet_path, class: "btn btn-outline-info"%>

<div id="tweets" class="centered-card">
  <div class="col-md-6">
    <% @tweets.each do |tweet| %>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title"><%= tweet.userName %></h5>
          <p class="card-text"><%= tweet.description %></p>
          <%= link_to "Ver Tweet", tweet, class: "btn btn-outline-secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="pagination justify-content-center">
  <%=raw pagy_nav(@pagy)%>
</div>



